.border {
    border: 1px solid red!important;
}
.bottom {
    border-bottom-style: 1px solid red  !important;
    list-style: none;
}

.bg{
   background-color: #17a2b861;
}
input {
    width: 100%;
}
ul {
    list-style: none;
}